adns
ansible
archey
autoconf
autojump
automake
bdw-gc
berkeley-db
black
brotli
bzip2
c-ares
ca-certificates
cairo
cmake
container-structure-test
coreutils
cscope
csvkit
dialog
docker
docutils
dpkg
duti
emscripten
fakeroot
fd
fish
fontconfig
freetype
fribidi
fzf
gcc
gdbm
gdk-pixbuf
geoip
gettext
git
gitin
gitlab-runner
glib
gmp
gnu-tar
gnupg
gnutls
go
gobject-introspection
golangci-lint
gpatch
gradle
graphite2
guile
harfbuzz
helm
htop
httpie
icu4c
isl
jansson
jasper
jemalloc
jpeg
jq
krb5
libassuan
libcroco
libev
libevent
libffi
libgcrypt
libgit2
libgpg-error
libidn2
libksba
libmpc
libnghttp2
libomp
libpng
libpthread-stubs
libraw
librsvg
libssh2
libtasn1
libtermkey
libtiff
libtool
libunistring
libusb
libuv
libvterm
libx11
libxau
libxcb
libxdmcp
libxext
libxml2
libxrender
libxslt
libyaml
links
little-cms2
lua
luajit
luajit-openresty
luarocks
luv
lzo
m4
macos-term-size
make
mas
mongodb-community
mongodb-database-tools
mongosh
mono
moreutils
mpdecimal
mpfr
msgpack
ncurses
neovim
nettle
nghttp2
nmap
node
node@14
npth
oniguruma
openblas
openjdk
openssl@1.1
p11-kit
pango
pcre
pcre2
perl
pinentry
pixman
pkg-config
postgresql
powerlevel9k
protobuf
prototool
pyenv
pyenv-virtualenv
python@3.10
python@3.9
rbenv
readline
reattach-to-user-namespace
ripgrep
ruby
ruby-build
rust
six
skaffold
speedtest
sqlite
stow
task
tcl-tk
terraform
terraform-ls
the_silver_searcher
tig
tmux
tree
tree-sitter
unbound
unibilium
universal-ctags
unixodbc
utf8proc
watch
wget
xorgproto
xz
yarn
youtube-dl
yuicompressor
zlib
zsh
zsh-autosuggestions
zsh-completions
zsh-history-substring-search
zsh-syntax-highlighting
zstd
docker
dozer
font-fira-code
font-victor-mono-nerd-font
gpg-suite
java
virtualbox
