ansible
autojump
black
ca-certificates
coreutils
csvkit
docker
fd
fish
fontconfig
freetype
fzf
git
go
helm
htop
httpie
jpeg
jq
lua
luajit
luajit-openresty
luarocks
macos-term-size
make
mas
mono
moreutils
neovim
node
node
openssl
pkg-config
powerlevel9k
pyenv
pyenv-virtualenv
readline
reattach-to-user-namespace
ripgrep
skaffold
speedtest
stow
task
tcl-tk
terraform
terraform-ls
the_silver_searcher
tig
tmux
tree
tree-sitter
unbound
unibilium
universal-ctags
watch
wget
xz
yarn
youtube-dl
yuicompressor
zlib
zsh
zsh-autosuggestions
zsh-completions
zsh-history-substring-search
zsh-syntax-highlighting
zstd
docker
font-fira-code
font-victor-mono-nerd-font