ansible
autojump
black
coreutils
csvkit
docker
fd
fish
font-fira-code
font-victor-mono-nerd-font
fontconfig
freetype
fzf
git
go
helm
htop
httpie
jpeg
jq
lua
luajit
luajit-openresty
luarocks
macos-term-size
make
mas
mono
moreutils
neovim
node
openssl
pkg-config
pyenv
pyenv-virtualenv
readline
reattach-to-user-namespace
ripgrep
skaffold
speedtest
stow
task
tcl-tk
terraform
terraform-ls
the_silver_searcher
tig
tmux
tree
tree-sitter
unbound
universal-ctags
watch
wget
youtube-dl
zsh
zsh-autosuggestions
zsh-completions
zsh-history-substring-search
zsh-syntax-highlighting
